{
  "extends": "airbnb",
  "ecmaFeatures": {
    "experimentalObjectRestSpread": true,
    "classes": true
  },
  "globals": {
    "__SERVER__": true,
    "__DEVELOPMENT__": true,
    "__CLIENT__": true,
    "__DEVTOOLS__": true
  }
}
