{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "ecmaFeatures": {
    "experimentalObjectRestSpread": true,
    "classes": true,
    "generators": true
  },
  "rules": {
    "prop-types": [1]
  },
  "globals": {
    "__SERVER__": true,
    "__DEVELOPMENT__": true,
    "__CLIENT__": true,
    "__DEVTOOLS__": true
  }
}
